
.p5Canvas {
  /* zorg dat canvas niet groter wordt dan window
     en behoud breedte x hoogte verhouding van 1280x720 
   */  
  max-width: min(100vh*1280/720, 100vw);
  max-height: min(100vw*720/1280, 100vh);
  
  /* zet canvas in het midden
   */ 
  display:block;
  margin: auto;
}

html, body {
  /* verwijder marge tussen canvas en rand van window
   */ 
  margin: 0px;
}
 // draw the car body
    fill(255, 0, 115);
    rect(200, 200, 100, 20);
    rect(200 + 15, 178, 70, 40);
    
    // draw the wheels
    fill(77, 66, 66);
    ellipse(200 + 25, 221, 24, 24);
    ellipse(200 + 75, 221, 24, 24);